/**************** Search Places ***************/
.ss-searchPlaces {
    
    
    
}

.ss-searchPlaces-dropdown {
    display: none;
    
    
    
    
    
    
    
    
}

.ss-searchPlaces-dropdown-image {
    
    
}

.ss-searchPlaces-dropdown-bold {
    
}

.ss-searchPlaces-dropdown-text {
    
    
    
    
}

.ss-searchPlaces-styles {
    
}
